.side_bar
  .side_bar__user-name
    .side_bar__user-name__top-items
      .side_bar__user-name__top-items__name
        .side_bar__user-name__top-items__name__user
          masa
        .side_bar__user-name__top-items__icons
          .side_bar__user-name__top-items__icons__left
            =link_to "#", class: "side_bar__user-name__top-items__icons__left" do
              %i.far.fa-edit
          .side_bar__user-name__top-items__icons__right
            =link_to "#", class: "side_bar__user-name__top-items__icons__right" do
              %i.fas.fa-clone
  .side_bar__group-list
    .side_bar__group-list__group-name
      techcamp
    .side_bar__group-list__group-message
      まだメッセージはありません