* {
  box-sizing: border-box;
  color: #ffffff;
  font-weight: bold;
}

.side_bar {
  width: 300px;
  height: 100vh;
  float: left;
  background-color: #2f3e51;
  &__user-name{
    height: 100px;
    background-color: #253141;
    display: flex;
    font-size: 16px;
    align-items: center;
    padding-left: 20px;
    line-height: 0px;
    &__top-items__name{
      height: 20px;
      width: 260px;
    }
    &__top-items__icons{
      float: right;
      color: #ffffff;
      display: flex;
      &__left{
        margin: 0 auto;
        padding-right: 5px;
      }
      &__right{
        margin: 0 auto;

      }
    }
  }

  &__group-list{
    height: calc(100vh - 100px);
    padding: 20px 20px 40px 20px;
    
    &__group-name{
      font-size: 15px;
      padding-bottom: 5px;
    }
    &__group-message{
      font-size: 11px;
    }
  }
}

.main_chat {
  width:  calc(100vw - 300px);
  background-color: #ffffff;
  height: 100%;
  float: right;
  color: #333333;
  &__group-info{
    height: 100px;
    border-bottom: #eeeeee;
    display: flex;
    justify-content: space-between;
    &__left{
      padding-left: 40px;
    }
      &__left-name{
        font-size: 20px;
        color: #333333;
        padding-top: 35px;
      }
      &__left-member{
        font-size: 12px;
        color: #999999;
        padding: 15px 0px 0px 0px;
      }

    &__right{
        font-size: 16px;
        color: #38aef0;
        padding: 28px 20px 28px 20px;
        height: 40px;
        line-height: 40px;
        display: flex;
        &__btn{
          border: solid 1px #38aef0;
          width: 72px;
          height: 40px;
          line-height: 40px;
          color: #38aef0;
          text-align: center;
          text-decoration: none;
        }
      }

  }
  &__message{
    height: calc(100vh - (100px + 90px));
    background-color: #fafafa;
    padding: 35px 0px 0px 40px;
    &__list{
      padding-bottom: 46px;
      &__member{
        display: flex;
        &__name{
          color: #333333;
          font-size: 16px;
        }
        &__date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__coment{
        color: #434a54;
        font-size: 14px;
        padding-top: 12px;
      }
    }
  }

  &__message-form{
    background-color: #d2d2d2;
    height: 90px;
    padding: 10px 40px 10px 50px;
    &__new{
      display: flex;
      &__text{
        width: 100%;
        position: relative;
      }
      &__text__box{
        height: 50px;
        width: 100%;
      }
      &__text__gazo{
        position: absolute;
        right: 10px;
        top: 15px;
        color: black;
        cursor: pointer;
         i {
          color: black;
        }
      }
      &__text__gazo__file{
        display: none;
      }
    }
    &__btn{
      cursor: pointer;
      width: 100px;
      height: 50px;
      background-color: #38aef0;
      margin-left: 15px;
    }
  }
}

